/*FOOTER*/
footer{
    background: $gris02;
    padding: 80px 0px 40px 0px;
    @media screen and (max-width: $window-size-sm) {
        padding: 80px 0px 100px 0px;
    }
}
.identidad-visual{
    width: 250px;
    @media screen and (max-width: $window-size-sm) {
        width: 150px;
    }
}
.menu-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:80px 0px 0px 0px;
    padding:0px;
    li{
        list-style: none;
        color: $blanco;
        margin:0px 0px 15px 50px;
        width: 150px;
        a{  
            font-family: $Lato-Regular;
            color: $blanco;
            font-size: $tx-size-05;
            span{
                margin-right: 15px;
            }
            &:hover{
                text-decoration: none;
                color: $color04;
            }
            @media screen and (max-width: $window-size-xl) {
                font-size: $tx-size-06;
            }
        }
    }
    @media screen and (max-width: $window-size-xl) {
        margin:55px 0px 0px 0px;
    }
    @media screen and (max-width: $window-size-sm) {
        margin:60px 0px 0px 0px;
    }
}

footer h3:nth-child(1){
    text-align: center;
    color: $blanco;
    font-family: $Lato-Regular;
    font-size: $tx-size-05;
    margin:80px 0px 10px 0px;
    @media screen and (max-width: $window-size-xl) {
        font-size: $tx-size-06;
        margin:60px 0px 10px 0px;
    }
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-06;
        margin:60px 0px 10px 0px;
    }
}
footer h3:nth-child(2){
    text-align: center;
    a{
        color: $blanco;
        font-family: $Lato-Regular;
        font-size: $tx-size-03;
        span i{
            font-size: $tx-size-03;
            margin-right: 10px;
        }
        &:hover{
            text-decoration: none;
            color: $color04;
        }
        @media screen and (max-width: $window-size-xl) {
            font-size: $tx-size-04;
        }
    }
}