/* SECTION 05 - CONTENT PORTAFOLIO */
.content-portafolio{
    padding: 0px 0px 0px 0px;
}

.nav-pills{
    background: $gradient03;
    padding: 70px 15px 50px 15px;
    @media screen and (max-width: $window-size-md) {
        padding: 70px 0px 50px 0px;
    }
}
.tx-content-portafolio-01{
    font-family: $Lato-Regular;
    font-size: $tx-size-02;
    color: $blanco;
    text-align: center;
    margin-bottom: 50px;
    @media screen and (max-width: $window-size-xl) {
        font-size: $tx-size-03;
    }
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-04;
    }
}

.tab-portafolio.nav-link{
    font-family: $Lato-Regular;
    font-size: $tx-size-05;
    color: $blanco;
    text-align: center;
    background: transparent;
    border-bottom: 1px solid rgba(255,255,255,.3);
    margin: 0px;
    padding: 10px 0px 10px 0px;
    &:hover{
        cursor: pointer;
        background: rgba(0,0,0,.2);
    }
    @media screen and (max-width: $window-size-xl) {
        font-size: $tx-size-06;
    }
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-06 - 2;
    }
}
.tab-portafolio.nav-link.active{
    font-family: $Lato-Bold;
    font-size: $tx-size-05;
    background: transparent;
    color: $color04;
    background: rgba(0,0,0,.2);
    @media screen and (max-width: $window-size-xl) {
        font-size: $tx-size-06;
    }
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-06 - 2;
    }
}   

.portafolio.tab-content{
    padding: 70px 15px 50px 15px;
    background: $gris;
    height: 100%;
}

.content-tab-portafolio {
    padding: 30px 30px;
    background: $blanco;
    border-radius: 20px;
    // text-align: justify;
}
.content-tab-portafolio-02 {
    padding: 30px 30px;
    background: $blanco;
    border-radius: 20px;
    @media screen and (max-width: $window-size-md) {
        margin-top: 15px;
    }
    // text-align: justify;
}
.content-tab-portafolio h3:nth-child(1){
    font-family: $Lato-Bold;
    font-size: $tx-size-03;
    color: $color02;
    margin-bottom: 15px;
    border-bottom: 1px solid $color03;
    @media screen and (max-width: $window-size-xl) {
        font-size: $tx-size-04;
    }
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-05;
    }
}
.content-tab-portafolio h3:nth-child(3){
    font-family: $Roboto-Regular;
    font-size: $tx-size-05;
    color: $color01;
    line-height: 1.5;
    margin-bottom: 30px;
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-06;
    }
}

.content-tab-portafolio h3:nth-child(4){
    font-family: $Lato-Bold;
    font-size: $tx-size-04;
    color: $color02;
    margin-bottom: 15px;
    @media screen and (max-width: $window-size-xl) {
        font-size: $tx-size-05;
    }
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-06;
    }
}
.content-tab-portafolio h3:nth-child(5){
    font-family: $Roboto-Regular;
    font-size: $tx-size-05;
    color: $color01;
    line-height: 1.5;
    margin-bottom: 30px;
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-06;
    }
}
.content-tab-portafolio a{
    display: inline-block;
    font-family: $Roboto-Regular;
    font-size: $tx-size-05;
    color: $color04;
    line-height: 1;
    margin-bottom: 15px;
    border:1px solid $color04;
    padding: 7px 40px;
    opacity: 0.7;
    transition: 0.2s;
    border-radius: 30px;
    &:focus{
        text-decoration: none;
        opacity: 1;
    }
    &:hover{
        text-decoration: none;
        opacity: 1;
    }
    @media screen and (max-width: $window-size-xl) {
        font-size: $tx-size-06;
    }
}

.tx-tab-version{
    font-family: $Lato-Bold;
    font-size: $tx-size-04;
    color: $color02;
    margin-bottom: 15px;
    text-align: center;
    @media screen and (max-width: $window-size-xl) {
        font-size: $tx-size-05;
    }
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-06;
    }
}
.tx-tab-version-02{
    font-family: $Lato-Bold;
    font-size: $tx-size-05;
    color: $color02;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    @media screen and (max-width: $window-size-xl) {
        font-size: $tx-size-06;
    }
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-06 - 2;
    }
}

.enlace-version-tab{
    display: block;
    text-align: center;
    font-family: $Lato-Regular;
    font-size: $tx-size-06;
    color: $color04;
    margin-bottom: 7px;
    opacity: .7;
    @media screen and (max-width: $window-size-xl) {
        font-size: $tx-size-06 - 2;
    }
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-06 - 3;
    }
    &:focus{
        text-decoration: none;
        color: $color04;
        opacity: 1;
    }
    &:hover{
        text-decoration: none;
        color: $color04;
        opacity: 1;
    }
}