/* SECCION 02 */
.section-03{
    padding: 70px 0px 50px 0px;
    background: $gris;
    @media screen and (max-width: $window-size-xl) {
        padding: 50px 0px 35px 0px;
    }
    @media screen and (max-width: $window-size-lg) {
        padding: 40px 0px 25px 0px;
    }
}

.section-03 .tx-section-03-01{
    font-family: $Lato-Bold;
    font-size: $tx-size-01;
    color: $color03;
    padding: 0px 0px 30px 0px;
    margin:0px 0px 70px 0px;
    border-bottom: 1px solid $color04;
    @media screen and (max-width: $window-size-xl) {
        font-size: $tx-size-02;
        padding: 0px 0px 20px 0px;
        margin:0px 0px 60px 0px;
    }
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-03;
        padding: 0px 0px 15px 0px;
        margin:0px 0px 50px 0px;
    }
}


.portafolio-web .nav-item{
    width: 25%;
    text-align: center;
}
.portafolio-web .nav-item .nav-link{
    color: $color01;
    padding: 0;
}

.content-slide{
    margin: 30px 0px 0px 0px;
}

.content-slide h3:nth-child(1){
    font-family: $Lato-Bold;
    font-size: $tx-size-03;
    color: $color02;
    margin-bottom: 15px;
    border-bottom: 1px solid $color03;
    @media screen and (max-width: $window-size-xl) {
        font-size: $tx-size-04;
    }
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-05;
    }
}
.content-slide h3:nth-child(2){
    font-family: $Roboto-Regular;
    font-size: $tx-size-05;
    color: $color01;
    line-height: 1.5;
    margin-bottom: 30px;
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-06;
    }
}

.content-slide h3:nth-child(3){
    font-family: $Lato-Bold;
    font-size: $tx-size-04;
    color: $color02;
    margin-bottom: 15px;
    @media screen and (max-width: $window-size-xl) {
        font-size: $tx-size-05;
    }
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-06;
    }
}
.content-slide h3:nth-child(4){
    font-family: $Roboto-Regular;
    font-size: $tx-size-05;
    color: $color01;
    line-height: 1.5;
    margin-bottom: 30px;
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-06;
    }
}
.content-slide a{
    display: inline-block;
    font-family: $Roboto-Regular;
    font-size: $tx-size-05;
    color: $color04;
    line-height: 1;
    margin-bottom: 15px;
    border:1px solid $color04;
    padding: 7px 40px;
    opacity: 0.7;
    transition: 0.2s;
    border-radius: 30px;
    &:focus{
        text-decoration: none;
        opacity: 1;
    }
    &:hover{
        text-decoration: none;
        opacity: 1;
    }
    @media screen and (max-width: $window-size-xl) {
        font-size: $tx-size-06;
    }
}


/* COLLAPSE RESPONSIVE XS SM */
.accordion-portafolio.card{
    margin: 0px 0px 15px 0px;
    border-radius: 10px;
}

.accordion-portafolio.card-header{
    padding: 0px;
    margin: 0px;
}

.btn-accordion-portafolio{
    position: relative;
    display: block;
    width: 100%;
    outline: none;
    border: none;
    // background: $color01;
    background: $gradient03;
    color: $blanco;
    padding: 10px 15px;
    font-family: $Roboto-Bold;
    font-size: $tx-size-06;
    text-align: center;
    span{
        position: absolute;
        right: 15px;
    }
    &:focus{
        text-decoration: none;
        color: $blanco;
    }
    &:hover{
        text-decoration: none;
        color: $blanco;
    }
}

.accordion-portafolio.card-body{
    padding: 20px 15px;
    margin: 0px 0px 0px 0px;
}

.accordion-portafolio.card-body .content-card-02{
    margin: 50px 0px 0px 0px;
    padding: 30px 15px;
    background: $gris;
    border-radius: 15px;
}

.accordion-portafolio.card-body .content-card h3:nth-child(1){
    font-family: $Lato-Bold;
    font-size: $tx-size-03;
    color: $color02;
    margin-bottom: 15px;
    border-bottom: 1px solid $color03;
    @media screen and (max-width: $window-size-xl) {
        font-size: $tx-size-04;
    }
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-05;
    }
}
.accordion-portafolio.card-body .content-card h3:nth-child(3){
    font-family: $Roboto-Regular;
    font-size: $tx-size-05;
    color: $color01;
    line-height: 1.5;
    margin-bottom: 30px;
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-06;
    }
}

.accordion-portafolio.card-body .content-card h3:nth-child(4){
    font-family: $Lato-Bold;
    font-size: $tx-size-04;
    color: $color02;
    margin-bottom: 15px;
    @media screen and (max-width: $window-size-xl) {
        font-size: $tx-size-05;
    }
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-06;
    }
}
.accordion-portafolio.card-body .content-card h3:nth-child(5){
    font-family: $Roboto-Regular;
    font-size: $tx-size-05;
    color: $color01;
    line-height: 1.5;
    margin-bottom: 30px;
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-06;
    }
}
.accordion-portafolio.card-body .content-card a{
    display: inline-block;
    font-family: $Roboto-Regular;
    font-size: $tx-size-05;
    color: $color04;
    line-height: 1;
    margin-bottom: 15px;
    border:1px solid $color04;
    padding: 7px 40px;
    opacity: 0.7;
    transition: 0.2s;
    border-radius: 30px;
    &:focus{
        text-decoration: none;
        opacity: 1;
    }
    &:hover{
        text-decoration: none;
        opacity: 1;
    }
    @media screen and (max-width: $window-size-xl) {
        font-size: $tx-size-06;
    }
}
