/* SECCION 01 */
.section-01{
    padding: 100px 0px 50px 0px;
    background: $gradient03;
    border-radius: 0% 0% 20% 0%;
    @media screen and (max-width: $window-size-md) {
        padding: 50px 0px 50px 0px;
    }
    @media screen and (max-width: $window-size-sm) {
        border-radius: 0% 0% 0% 0%;
    }
    @media screen and (max-width: $window-size-xs) {
        padding: 50px 0px 50px 0px;
    }
}

.section-01 h3:nth-of-type(1){
    font-family: $Lato-Bold;
    font-size: $tx-size-01;
    color: $blanco;
    padding: 0px 0px 30px 0px;
    margin:100px 0px 50px 0px;
    border-bottom: 1px solid $color04;
    @media screen and (max-width: $window-size-xl) {
        margin:50px 0px 30px 0px;
        padding: 0px 0px 20px 0px;
        font-size: $tx-size-02;
    }
    @media screen and (max-width: $window-size-lg) {
        margin:50px 0px 20px 0px;
        padding: 0px 0px 15px 0px;
        font-size: $tx-size-03;
    }
    @media screen and (max-width: $window-size-sm) {
        text-align: center;
    }
    @media screen and (max-width: $window-size-xs) {
        margin:0px 0px 20px 0px;
    }
    @media screen and (max-width: $window-size-xs) {
        margin:0px 0px 20px 0px;
    }
}
.section-01 h3:nth-of-type(2){
    font-family: $Lato-Regular;
    font-size: $tx-size-04;
    line-height: 1.5;
    color: $blanco;
    margin:0px 0px 200px 0px;
    span{
        font-family: $Lato-Bold;
        font-size: $tx-size-04;
        @media screen and (max-width: $window-size-xl) {
            font-size: $tx-size-05;
        }
        @media screen and (max-width: $window-size-lg) {
            font-size: $tx-size-06;
        }
    }
    @media screen and (max-width: $window-size-xl) {
        font-size: $tx-size-05;
        margin:0px 0px 80px 0px;
    }
    @media screen and (max-width: $window-size-lg) {
        font-size: $tx-size-06;
        margin:0px 0px 80px 0px;
    }
    @media screen and (max-width: $window-size-md) {
        font-size: $tx-size-06;
        margin:0px 0px 50px 0px;
    }
    @media screen and (max-width: $window-size-sm) {
        text-align: center;
        margin:0px 0px 0px 0px;
    }
    @media screen and (max-width: $window-size-xs) {
        margin:0px  0px 30px 0px;
    }
}

.imagen-hero-web{
    margin-top: 0px;
    margin-bottom: 0px;
    @media screen and (max-width: $window-size-md) {
        margin-top: 30px;
    }
    @media screen and (max-width: $window-size-xs) {
        margin-top: 0px;
        margin-bottom: 30px;
    }
}
